.idea/
*.iml
cmake-build-*/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

*.log
*.swp
*.swo
*.tmp
*.bak
*.DS_Store
Thumbs.db

*.gcno
*.gcda
*.gcov
*.prof
*.dSYM/

*~
